<h1>Category Page</h1>

<table class="table table-striped">
  <tbody>
    <tr>
      <br/>
      <td><strong>Category:</strong></td>
      <td><%= @category.category %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_category_path(@category), class:"btn btn-warning" %> |
<%= link_to 'Back', categories_path, class:"btn btn-primary" %>
